@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 870px;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.nav ul li {
  padding: 17px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
}
.nav ul li a {
  color: #000000;
  text-decoration: none;
}
.nav ul li a:hover {
  color: #FF6464;;
}
.block-1 {
  display: flex;
  justify-content: space-between;
}
.block-1__title {
  margin-top: 75px;
}
.block-1__img {
  margin: 75px 50px 0 50px;
  position: relative;
  border-radius: 50%;
  width: 243px;
  height: 243px;
  display: flex;
  align-content: space-between;

}
.block-1__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #EDF7FA;
  bottom: -13px;
  left: -5px;
  z-index: -1;
  border-radius: 50%;
}
.block-1_text {
  font-size: 16px;
  line-height: 23px;
  color: #21243d;
  font-weight: 400;
}
.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.button__primary {
  margin-top: 5px;
  padding: 9px 21px;
  border-radius: 2px;
  font-size: 20px;
  line-height: 29px;
}
.button__primary:hover {
  color: #fff;
  box-shadow: 2px 2px 8px #333;
}
.button__primary:active {
  transform: scale(0.9);
}
.button__primary_button_red {
  color: #fff;
  background-color: #FF6464;
  box-shadow: 0px 0px 7px #333;
  transition: all 0.8s;
}
.block-container {
  margin: 0 auto;
}
.block-2 {
  width: 100%;
  background: #EDF7FA;
  border: none;
  border-radius: 2px;
  margin: 40px auto;
}
.block-2__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-2__posts{
  font-size: 22px;
  line-height: 60px;
  margin-left: 2%;
  
}
.block-2__view {
  text-decoration: none;
  margin: 0 50px;
  font-size: 16px;
  line-height: 23px;
  color: #00A8CC;
}
.block-2__card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 18px;
  padding: 0 8px;
}
.block__text__kind {
  font-size: 18px;
  line-height: 26px;
}
.block__text__data {
  font-size: 18px;
  line-height: 26px;
}
.block-2__card__text__1 {
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}
.block__text__data_1 {
  font-size: 20px;
  line-height: 29px;
  color: #21243D;
}
.block__text__kind_1 {
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}
.block-2__text-block {
  font-size: 16px;
  line-height: 23px;
  margin-left: 2%;
}
.block-2_h2 {
  font-size: 26px;
  line-height: 38px;
  margin-left: 2%;
}
.block__h2__h2{
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
}
.block-2__card__card {
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  width: 45%;
  padding: 0 10px 15px 15px;
  margin-bottom: 15px;
}
.block-3__work__img {
  width: 246px;
  height: 184px;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-3__p {
  font-size: 22px;
  line-height: 60px;
} 
.block-3__work__h2 {
  text-decoration: none;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
}
.text-block {
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}
.block-3__info {
  display: flex;
  flex-flow: column wrap;
  margin-left: 2%;
}  
.block-3__work1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-3__work2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-3__work3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-3__work4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-3__work__span {
  display: flex;
  justify-content: start;
  align-items: center;
}
.block-3__work__kidn {
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}
.block-3__work__data {
  font-size: 18px;
  line-height: 1;
  color: #fff;
  background-color: #142850;
  border-radius: 16px;
  padding: 3px 7px;
}
hr {
  border: 1px solid #E0E0E0;
}
.block-4 {
  max-width: 680px;
}
.block-4__h2 {
  font-size: 34px;
  line-height: 50px;
  color: #21243D;
}
.block-4__span__data {
  font-size: 18px;
  line-height: 1;
  color: #fff;
  background-color: #FF7C7C;
  border-radius: 16px;
  padding: 3px 7px;
}
.block-4__span__kidn{
  font-size: 20px;
  color: #21243D;
}
.block-4__p {
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}
.block-4__h3 {
  text-decoration: none;
  font-size: 30px;
  color: #21243D;
}
.block-4__h4 {
  text-decoration: none;
  font-size: 24px;
  color: #21243D;
}
.block-4__img {
  padding: 0 0 20px 0;
}
.footer__p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243D;
}
.footer-icons  {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  }
.footer-icons__icons {
  padding: 2px 10px;
}
.footer-icons a{
  text-decoration: none;
}